/*
<style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
</style>*/

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

html,body{
    line-height: 1.5;
    font-weight:300;
    font-family: 'Roboto', sans-serif;
}

.developer_section{
    background-image: url(images/image1.jpg);
    min-height: 100vh;
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
}

.text_container {
 color: white;
 max-width: 900px;
 margin:  0 auto;
 padding-top: 60px;
 padding-left: 50px; 
}

.lg_text
{
    font-size:75px;
  font-weight:400;
}
